@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto&family=Rock+Salt&display=swap');


nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

nav {
    display: flex;
    justify-content: space-around;
}

h4 {
    color: #362417;
    text-align: center;
}


h2 {
    margin: 0;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}


body {
    background-color:#fcfbfb;
    font-size: 23px;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Times New Roman', Times, serif;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #3624179e;
}

footer {
    background-color: #362417;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #fcfbfb;
    text-decoration: none;
}

footer p {
    color: #fcfbfb;
    font-size: 1.2em;
}

footer .social img {
    padding-top: 15px;
    margin-top: 50px;
}


nav a:hover {
    background-color: #fcfbfb;
    color: #362417;
}

footer a:hover {
    color: #362417;
    background-color: #fcfbfb;
}

footer p a:hover {
    text-decoration: underline;
}



#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}


#hero-img {
    width: 100%;
}

#hero-msg h4 {
    color: white;
}

#hero-msg h1, #hero-mgs h4 {
    text-align: center;
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    color: #362417;
    font-family: 'DynaPuff', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.logo {
    width: 80px;
    border-radius: 50%;
}

.icon {
    width: 80px;
}

.book, .join {
    background-color: #362417;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #fcfbfb;
    color: #92817a;
}

#background {
    background-color:  #92817a;
}

.msg {
    background-color:  #92817a;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    color: #fcfbfb;
    font-size: .8em;
}


.msg h2 {
    color: #fcfbfb;
    font-family: DynaPuff, 'Bradley Hand', sans-serif;
}

.button-box {
    text-align: center;
}

#background {
    height: 725px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: cent;
}

.icon {
    padding-top: 10px;
}

.camping-card, .rapids-card, .rivers-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}  


.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
}

.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    border: 2px solid white;
}

.msg, .mountains {
    box-shadow: 5px 5px 10px #000000a2;
}


/* css for the page 2 */

.river-section {
   margin-bottom: 200px;
}

.river-section h3 {
    text-decoration: underline;
}

.river-img1 {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 10px solid #d9c2a3;
}

.river-img2 {
    float: right;
    margin-left: 20px;
    border: 10px solid #d9c2a3;

}

.blog-p1 {
    text-align: start;
}

.blog-p2 {
    text-align: left;
}

.card-imgp2 {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    margin-bottom: 20px;
}
.card-imgp2:hover {
    opacity: .6;
    transform: scale(1.1);
}  

.card {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-bottom: 50px;
}

.card-img1 {
    justify-self: start;
}

.card-img2 {
    justify-self: center;
}

.card-img3 {
    justify-self: end;
}

.card-img1 p {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color:#92817a ;  
    color: #fcfbfb;
}

.card-img2 p {
    width: 80px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color:#92817a ;  
    color: #fcfbfb;
}

.card-img3 p {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color:#92817a ;  
    color: #fcfbfb;

}

.faq {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);

}

.faq h3 {
    margin: 0;
    grid-column: 1/3;
    text-align: center;
    text-decoration: underline;
}

.text-info {
    margin: 0;
    grid-column: 1/3;
}

.signout h3 {
    text-align: center;
    text-decoration: underline;
} 


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }

    /* css for page 2 */


    .blog-p1, .blog-p2 {
        text-align: center;
    }

    .river-img1, .river-img2 {
        display: block;
        width: 100%;
        margin: 50px auto;
        /* float: inline-end; */
        border: none;
    }

    .river-section img {
        border: 10px solid #d9c2a3;
        width: 300px;
    }

    .river-section {
        margin-bottom: 0;
    }

    .card {
        display: block;
        height: auto;
        text-align: center;
        justify-items: center;
    }

    .card p {
        justify-self: center;
        text-align: center;
    }

    .card-img1, .card-img2, .card-img3  {
        margin: 50px auto;
    }

    .card img {
        width: 60%;
    }

    .faq{
        display: block;
    }
    .faq1, .faq2, .faq3, .faq4 {
        width: 100%;
        margin: 50px auto;
    }

    .faq p {
        text-align: center;
    }

    .signout p {
        text-align: center;
    }


}
























