
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

#hero-msg h1, #hero-mgs h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}


#background {
    height: 725px;
}

body {
    background-color:#fcfbfb;
}

header {
    background-color: #362417;
}

nav a:hover {
    background-color: #fcfbfb;
    color: #362417;
}

.book, .join {
    background-color: #92817a;
    color: #fcfbfb;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #fcfbfb;
    color: #92817a;
}

#background {
    background-color:  #92817a;
}

.msg {
    background-color:  #92817a;
}

.msg p {
    color: #fcfbfb;
}


.msg h2 {
    color: #fcfbfb;
}


footer {
    background-color: #362417;
    
}

footer a {
    color: #fcfbfb;
    text-decoration: none;
}

footer p {
    color: #fcfbfb;
    font-size: 1.2em;
}

footer a:hover {
    color: #362417;
    background-color: #fcfbfb;
}

footer p a:hover {
    text-decoration: underline;
}

.home-title {
    color: #362417;
}

h4 {
    color: #362417;
    text-align: center;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}




