@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Roboto&family=Rock+Salt&display=swap');


nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
}

h4 {
    color: #362417;
    text-align: center;
}


h2 {
    margin: 0;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}


body {
    background-color:#fcfbfb;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Times New Roman', Times, serif;
}

header {
    background-color: #362417;
}

footer {
    background-color: #362417;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #fcfbfb;
    text-decoration: none;
}

footer p {
    color: #fcfbfb;
    font-size: 1.2em;
}

footer .social img {
    padding-top: 15px;
    margin-top: 50px;
}


nav a:hover {
    background-color: #fcfbfb;
    color: #362417;
}

footer a:hover {
    color: #362417;
    background-color: #fcfbfb;
}

footer p a:hover {
    text-decoration: underline;
}

.home-title {
    color: #362417;
    font-family: 'DynaPuff', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1, #hero-mgs h4 {
    text-align: center;
}

.book, .join {
    background-color: #362417;
    color: #fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #fcfbfb;
    color: #92817a;
}

#background {
    background-color:  #92817a;
}

.msg {
    background-color:  #92817a;
    line-height: 1.5em;
    padding: 35px;
}

.msg p {
    color: #fcfbfb;
    font-size: .8em;
}


.msg h2 {
    color: #fcfbfb;
    font-family: DynaPuff, 'Bradley Hand', sans-serif;
}

.button-box {
    text-align: center;
}

#background {
    height: 725px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    padding-top: 10px;
}

.rivers-card, .camping-card, .rapids-card  {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #362417;
}





























