@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Open+Sans&display=swap');


:root {
    /* change the values below to your colors from your palette */
    --primary-color: #000000	   ;
    --secondary-color: #AFBCD4;
    --accent1-color: #3A3E3B;
    --accent2-color: #F0EFF4;
  
    /* change the values below to your chosen font(s) */
    --heading-font: DynaPuff ;
    --paragraph-font: 'Open Sans', Hevtica, sans-serif;
  
}

  /* general selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* p, a, li {
    font-family: var(--paragraph-font);
    color: var(--primary-color);

}

* h3, h4 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}



h3 {
    text-align: center;
}

/*  width arrangement */
.container {
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
    z-index: -2;
}

/* logo */
.logo-div {
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-div p {
    color: var(--accent2-color);
    font-size: 19px;
}

/* header section */
header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color:#f0eff446;
}

header img {
    width: 80px;
    border-radius: 50%;
    align-items: center;
}

/* Navigation section */
nav {
    padding: 0;
}

nav a {
    color: var(--accent2-color);
    padding: 0 70px;
    text-decoration: none;
    font-size: 19px;
    padding: 1.5em;
    transition: .5s;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    padding: 1.6em;
}

/* hero section */
.hero-img {
    width: 100%;
    z-index: 10;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

.hero-box {
    grid-row: 1/4;
    margin-top: -100px;
    grid-column: 1/4;
    z-index: -1;
    width: 100%;
}

.hero h3 {
    align-self: flex-end;
    grid-row: 1/2;
    grid-column: 1/4;
    z-index: 1;
    color: var(--accent2-color);
    font-size: 3.5em;
}

.hero p {
    margin-top: -70px;
    color: var(--accent2-color);
    grid-column: 1/4;
    grid-row: 2/3;
    z-index: 1;
    font-size: 2em;
    text-align: center;
}

/* main section */
.intro-img {
    float: left;
    margin: 20px;
}

.main-section h3 {
    margin-bottom: 40px;
}

.main-section li {
    margin-left: 20px;
}

.main-section {
    margin-bottom: 40px;
}


/* card image section */
.card-img img {
    width: 300px;
    border: 10px solid #AFBCD4;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #0000009b;
}

.card-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
    justify-items: center;
    margin-bottom: 50px;
}

.card-img img:hover {
    opacity: .6;
    transform: scale(1.1);
}  

.card1 {
    grid-column: 1/2;

}

.card2 {
    grid-column: 2/3;
}

.card3 {
    grid-column: 3/4;
}

.card4 {
    grid-column: 4/5;
}

/* resume section */
.resume-div {
    text-align: center;
}

.resume {
    display: inline-block;
    text-decoration: none;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 10px;
    border-radius: 7px;
    margin: 10px 0;
    transition: .1s;  
}


.resume:hover {
    background-color: var(--accent2-color);
    padding: 11px;
    border: 2px solid #3A3E3B;
    color: #3A3E3B;
}

/* tech tips */
.tech-tips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;
}

.tech-tips h3 {
    margin: 20px auto;
    text-decoration: underline;
}

.portion1 {
    width: 90%;
    grid-column: 1/2;
    margin-left: 20px;
}

.portion2 {
    grid-column:2/3;
    width: 90%;
    margin-left: 20px;
}

.tech-tips h3 {
    grid-column: 1/3;
    grid-row: 1/2;
}


/* footer section */

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent1-color);
    align-items: center;
    height: 100px;
}

footer a {
    color: var(--accent2-color);
    text-decoration: none;
}

footer p {
    color: var(--accent2-color);
    margin-left: 10px;
}

footer img {
    border-radius: 5px;
    margin-right: 5px;

}
.social {
    margin: 0 5px;
}



/* page 2 css */


.page2-nav a, .page2-head p {
    color: var(--accent1-color);
}

.page2-nav a:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.page2-head {
    border-bottom: #3A3E3B solid 3px;
    margin-bottom: 20px;
}

.page2-head img {
    border: var(--accent1-color) 2px solid;
}

.img1 {
    float: left;
    margin: 20px;
    border: var(--accent1-color) 5px solid;
    border-radius: 3px;
    box-shadow:var(--accent1-color) 3px 3px 10px;
}

.img-row h4 {
    margin-top: 20px;
}

.img-row p {
    margin: 0 20px;
}

.main-project H4 {
    text-align: center;
    color: var(--accent2-color);
    margin-bottom: 10px;
}

.project1 img, .project2 img, .project3 img {
    float: right;
    width: 250px;
    border:5px solid var(--accent1-color);
    background-color:var(--accent2-color) ;
}
.project1 a, .project2 a, .project3 a {
    padding: 5px;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    border-radius: 5px;
    text-decoration: none;
    box-shadow: black 3px 3px 10px;
    margin-left: 10px;
    
}

.project1 p, .project2 p, .project3 p {
    color:var(--accent2-color);
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.project1 {
    margin-bottom: 100px;
    /* border: 2px solid black; */
    padding: 10px;
    background-color: #3a3e3b8f;
    /* box-shadow: #3A3E3B 5px 5px 15px; */
    border-radius: 5px;
}

.project2 {
    margin-bottom: 100px;
    /* border: 2px solid black; */
    padding: 10px;
    background-color: #3a3e3b8f;
    /* box-shadow: #3A3E3B 5px 5px 15px; */
    transition: .5s;
    border-radius: 5px;
}

.project3 {
    margin-bottom: 70px;
    padding: 10px;
    background-color: #3a3e3b8f;
    /* box-shadow: #3A3E3B 5px 5px 15px; */
    transition: .5s;
    border-radius: 5px;
}

.end {
    border: 3px solid #3A3E3B;
    padding: 40px;
    margin: 0 20px;
    margin-bottom: 70px;
    /* box-shadow: #3A3E3B 5px 5px 15px; */
}

.msg-contact {
    margin-left: 10px;
    margin-left: 10px;
}

/* form styling  */

form {
    /* Center the form on the page */
    margin: 50px auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    text-align: start;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    text-align: center;
    margin-right: 100px;
  
    /* Uniform text field size */
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
    border-radius: 5px;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    /* margin-right: 50px; */
    padding: 10px;
    font-size: 1.2em;
  }
  
.contact-img {
    float: left;
    margin-right: 20px;
} 

.msg {
    margin-top: 20px;
}

.nav-contact a, .header-contact p {
    color: var(--accent1-color);
}

.nav-contact a:hover {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.header-contact {
    border-bottom: #3A3E3B 2px solid;
}
.logo-div  img{
    border: 2px solid var(--accent1-color);
}




/* media querie */

@media screen and (max-width: 1200px) {

    .hero h3 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.7em;
    }


    .card-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        /* justify-items: center; */
    }

    .card1 {
        grid-column: 1/2;
        justify-self:end ;
    }

    .card2 {
        grid-column: 2/3;
        justify-self: start;
    }


    .card3 {
        grid-row: 2/3;
        grid-column: 1/2;
        justify-self: end;
    }

    .card4 {
        grid-row: 2/3;
        grid-column: 2/3;
        justify-self: start;
    }


}


@media screen and (max-width: 800px) {

    /* nav and header section */
    header {
        display: grid;
        grid-template-columns: 120px 1fr;
        background-color: var(--accent2-color);
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav a {
        color: var(--accent1-color);
        padding: 0 70px;
        text-decoration: none;
        font-size: 19px;
        transition: none;
        font-weight: bolder;
        font-size: 1em;
        padding: 0;
        margin: 0 5px;
    
    }

    nav a:hover {
        background-color: inherit;
        color: inherit;
        padding: inherit;
        margin: inherit;
        font-weight: inherit;
        font-size: 1em;
        padding: 0;
        margin: 0 5px;
    }

    /* logo section */
    .logo-div p {
        color: var(--accent1-color);
        font-size: .8em;
        margin-top: -15px ;
        text-align: center;
    }

    .logo-div img {
        width: 60px;
        border: 3px solid #3A3E3B;
    }

    .logo-div {
        flex-direction: column;
        /* margin-right: 40px; */
        margin: 5px 0;
    }

    /* hero section */
    .hero {
        display: block;
        height: auto;
    }

    .hero-box {
        margin: 0;
    }

    .hero h3 {
        font-size: 1em;
        color: var(--accent1-color);
        margin-top: 30px;
    }

    .hero p {
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 1.1em;
        color: var(--accent1-color);
    }

    /* main section */
    .main-section {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .main-section img {
        float: none;
        width: 50%;
        margin: 0 0 30px auto;
    }

    .main-section h3 {
        font-size: 1em;
    }
        

    /* card section */
    .card-img {
        width: 100%;
        text-align: center;
        display: block;
    }

    .card-img img {
        width: 50%;
        margin: 20px 0;
    }

    /* tech-tip section */
    .tech-tips {
        display: block;
        margin-left: 20px;
    }

    /* FOOTER SECTION */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
    }

    footer p {
        margin-top: 10px;
        font-size: 17px;
    }

    footer a {
        font-size: 17px;
        color: #F0EFF4;
    }

    footer img {
        width: 50px;
        padding-bottom: 5px;
    }

    /* page 2 media query */

    .img1 {
        float: none;
        width: 90%;
        text-align: center;
    }

    .img-row p, h4 {
        text-align: center;
        margin-right: 15px;
        margin-left: 15px;
    }

    .img-row {
        margin-bottom: 20px;
    }


    .project-img1, .project-img2, .project-img3 {
        width: 100%;
        text-align: center;
    }

    .project1 img, .project2 img, .project3 img {
        float: none;
        border: 10px var(--secondary-color) solid;
        width: 75%;
        border-radius: 5px;
        margin-bottom: 20px;
    }


    .main-project p {
        text-align: center;
    }
    
    .project_a {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .contact-img {
        /* width: 100%; */
        text-align: center;
        /* padding-right: 10px; */
    }

    .msg-contact img {
        width: 80%;
        padding-right: 30px;
        float: none;
        margin: 0;
        padding: 0;
    }
    .msg-contact{
        margin:0 20px;
    }


    .form {
        width: 100%;
        text-align: start; 
    }

    form, input, textarea {
        width: 85%;
    }


}
