@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Open+Sans&display=swap');


:root {
    /* change the values below to your colors from your palette */
    --primary-color: #000000	   ;
    --secondary-color: #475c827a ;
    --accent1-color: #3A3E3B;
    --accent2-color: #F0EFF4;
  
    /* change the values below to your chosen font(s) */
    --heading-font: DynaPuff ;
    --paragraph-font: 'Open Sans', Hevtica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #3A3E3B;  /* headlines on a white background */ 
    --headline-color-on-color: #F0EFF4; /* headlines on a colored background */ 
    --paragraph-color-on-white: #3A3E3B; /* paragraph text on a white background */ 
    --paragraph-color-on-color:#F0EFF4; /* paragraph text on a colored background */ 
    --paragraph-background-color: #3A3E3B  ;
    --nav-link-color: #3A3E3B;
    --nav-background-color: #AFBCD4;
    --nav-hover-link-color: #F0EFF4;
    --nav-hover-background-color: #3A3E3B;
  }

  /* general selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* p, a, li {
    font-family: var(--paragraph-font);
    color: var(--primary-color);

}

* h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


h3 {
    text-align: center;
}

/*  width arrangement */
.container {
    display: grid;
    max-width: 1600px;
    margin: 0 auto;
    z-index: -2;
}

/* logo */
.logo-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-div p {
    color: var(--accent2-color);
    font-size: 19px;
}

/* header section */
header {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color:#f0eff446;
}

header img {
    width: 80px;
    border-radius: 50%;
    align-items: center;
}

/* Navigation section */
nav {
    padding: 0;
}

nav a {
    color: var(--accent2-color);
    padding: 0 70px;
    text-decoration: none;
    font-size: 19px;
    padding: 1.5em;
    transition: .5s;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--accent2-color);
    color: var(--accent1-color);
    padding: 1.6em;
}

/* hero section */
.hero-img {
    width: 100%;
    z-index: 10;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}

.hero-box {
    grid-row: 1/4;
    margin-top: -100px;
    grid-column: 1/4;
    z-index: -1;
    width: 100%;
}

.hero h3 {
    align-self:center;
    grid-row: 1/2;
    grid-column: 1/4;
    z-index: 1;
    color: var(--accent2-color);
    font-size: 3.5em;
}

.hero p {
    margin-top: -70px;
    color: var(--accent2-color);
    grid-column: 1/4;
    grid-row: 2/3;
    z-index: 1;
    font-size: 2em;
    text-align: center;
}

/* main section */
.intro-img {
    float: left;
    margin: 20px;
}

.main-section h3 {
    margin-bottom: 40px;
}

.main-section li {
    margin-left: 20px;
}

.main-section {
    margin-bottom: 40px;
}


/* card image section */
.card-img img {
    width: 300px;
    border: 10px solid #AFBCD4;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #0000009b;
}

.card-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
    justify-items: center;
    margin-bottom: 50px;
}

.card-img img:hover {
    opacity: .6;
    transform: scale(1.1);
}  

.card1 {
    grid-column: 1/2;

}

.card2 {
    grid-column: 2/3;
}

.card3 {
    grid-column: 3/4;
}

.card4 {
    grid-column: 4/5;
}

/* resume section */
.resume-div {
    text-align: center;
}

.resume {
    display: inline-block;
    text-decoration: none;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: 10px;
    border-radius: 7px;
    margin: 10px 0;
    transition: .1s;  
}


.resume:hover {
    background-color: var(--accent2-color);
    padding: 11px;
    border: 2px solid #3A3E3B;
    color: #3A3E3B;
}

/* tech tips */
.tech-tips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;
}

.tech-tips h3 {
    margin: 20px auto;
    text-decoration: underline;
}

.portion1 {
    width: 90%;
    grid-column: 1/2;
    margin-left: 20px;
}

.portion2 {
    grid-column:2/3;
    width: 90%;
    margin-left: 20px;
}

.tech-tips h3 {
    grid-column: 1/3;
    grid-row: 1/2;
}


/* footer section */

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--accent1-color);
    align-items: center;
    height: 100px;
}

footer p {
    color: var(--accent2-color);
}

footer img {
    border-radius: 5px;
}
.social {
    margin: 0 5px;
}

/* media querie */



@media screen and (max-width: 1200px) {

    .hero h3 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 1.7em;
    }


    .card-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        /* justify-items: center; */
    }

    .card1 {
        grid-column: 1/2;
        justify-self:end ;
    }

    .card2 {
        grid-column: 2/3;
        justify-self: start;
    }


    .card3 {
        grid-row: 2/3;
        grid-column: 1/2;
        justify-self: end;
    }

    .card4 {
        grid-row: 2/3;
        grid-column: 2/3;
        justify-self: start;
    }


}


@media screen and (max-width: 800px) {

    /* nav and header section */
    header {
        background-color: var(--accent2-color);
    }

    nav, footer {
        flex-direction: column;
    }

    nav a {
        color: var(--accent1-color);
        padding: 20px;
        font-size: 1em;
        width: 50%;
        background-color: inherit;
    }

    nav a:hover {
        background-color: var(--accent1-color);
        color: var(--accent2-color);
    }

    /* logo section */
    .logo-div p {
        color: var(--accent1-color);
        font-size: 1em ;
        margin-top: -15px ;
        text-align: center;
    }

    .logo-div img {
        border: 3px solid #3A3E3B;
    }

    .logo-div {
        flex-direction: column;
        margin-right: 40px;
    }

    /* hero section */
    .hero {
        display: block;
        height: auto;
    }

    .hero-box {
        margin: 0;
    }

    .hero h3 {
        font-size: 1em;
        color: var(--accent1-color);
        margin-top: 30px;
    }

    .hero p {
        margin-top: 20px;
        margin-bottom: 50px;
        font-size: 1.1em;
        color: var(--accent1-color);
    }

    /* main section */
    .main-section {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .main-section img {
        float: none;
        width: 50%;
        margin: 0 0 30px auto;
    }

    .main-section h3 {
        font-size: 1em;
    }
        

    /* card section */
    .card-img {
        width: 100%;
        text-align: center;
        display: block;
    }

    .card-img img {
        width: 50%;
        margin: 20px 0;
    }

    /* tech-tip section */
    .tech-tips {
        display: block;
        margin-left: 20px;
    }

    /* FOOTER SECTION */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer p {
        font-size: 9px;
    }

    footer img {
        width: 25px;
    }


}



@media screen and (max-width: 600px) {
    header {
        display: grid;
        grid-template-columns: 120px 1fr;
    }

    .logo-div {
        margin: 5px 0;
    }

    .logo-div p {
        font-size: .8em;
    }

    nav a {
        font-size: .9em;
        padding: 0;
        margin: 0 10px;
    }

}  